.container {
    background-color: #edf7fe;
    display: flex;
    flex-direction: column;
}

.titulo {
    font-weight: bold;
    text-align: center;
    margin-top: 1%;
    font-size: 1.5rem;
}

.tabela {
   margin-top: 1%;
   
   flex-grow: 1; 
}

thead{
    border: 2px lightblue solid;
    font-weight: bold;
}


th,td {
    border: 1px solid lightseagreen;
    padding: 1%;
    text-align: center;
    width:20%;
    height:20%;
}