.formulario-produtos {
    display: flex;
    flex-direction: column;
}

.formulario-produtos__campos {
    margin-left: 1.5rem;
    margin-top: 1.5rem;
}

.legenda-produtos {
    margin-bottom: 1.5rem;
}

.formulario-produtos__texto {
    font-size: 1.rem;
    margin: 1rem;
}

.formulario-produtos__botoes {
    background-color:lightsteelblue;
    font-size: 1.rem;
    margin: 1rem;
    padding: 1rem;
}

