.secao-pedidos, .formulario-pedidos {
    display: flex;
    flex-direction: column;
}

.secao-pedidos__campos, .formulario-pedidos__campos {
    margin-left: 1.5rem;
    margin-top: 1.5rem;
}

.legenda-pedidos {
    margin-bottom: 1.5rem;
}

.secao-pedidos__texto, .formulario-pedidos__texto {
    font-size: 1.rem;
    margin: 1rem;
}

.secao-pedidos__botoes, .formulario-pedidos__botoes {
    background-color:lightsteelblue;
    font-size: 1.rem;
    margin: 1rem;
    padding: 1rem;
}

.secao-pedidos__texto--input {
    margin-left: 1rem;
}

.secao-pedidos__campos--produto {
    display: flex;
    margin-left: 1.5rem;
    margin-top: 1.5rem;
}

