.formulario-clientes {
    display: flex;
    flex-direction: column;
}

.formulario-clientes__campos {
    margin-left: 1.5rem;
    margin-top: 1.5rem;
}

.legenda-clientes {
    margin-bottom: 1.5rem;
}

.formulario-clientes__texto {
    font-size: 1.rem;
    margin: 1rem;
}

.formulario-clientes__botoes {
    background-color:lightsteelblue;
    font-size: 1.rem;
    margin: 1rem;
    padding: 1rem;
}

.nome-cliente {
    font-weight: bold;
}



